.wizard-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  font-family: "Inter", sans-serif;
}

/* Card styling */
.wizard-card {
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 2rem;
    transition: 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wizard-page-title, 
.info-box-title {
  margin: 0.5rem 0;
  font-size: 1.3rem;
  padding: 0.5rem;
  color: #ffffff;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #007bff;
}

.question-text {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0.5rem 0;
  text-align: center;
}

.subtext {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.answer-btn{
  display: block;
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.3rem;
  cursor: pointer;
}

.answer-btn:hover {
  background: #007bffab;
}

.button-group-wrapper {
  width:100%;
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.button-group {
  pointer-events: auto;
  width: 92%;
  max-width: 600px;
  padding: 1rem;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: 0.2s ease;
  display: flex;
  justify-content: space-between;
}

.back-btn,
.submit-btn {
  width: 25%;
  padding: 0.8rem 1.2rem;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.confirm-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex; align-items: center; justify-content: center;
}

.confirm-box {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  width: 90%;
  max-width: 600px;
  margin: 0 auto; 
}

.confirm-box-button{
  display: inline-block;
  width: 40%;
  padding: 0.5rem;
  margin: 0.5rem;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.answer-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.info-btn {
  background: #007bff;
  color: white;
  margin-top: 0rem;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  width: 8%;
  font-size: 1.3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.info-btn:hover {
  background: #007bffab;
}

.info-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-box {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
}

.info-box-content, 
.confirm-box-content {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.info-box-button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.date-time-input {
  display: block;
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;

  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fff;
  box-sizing: border-box;
}

.textarea {
  font-family: "Inter", sans-serif;
  width: 100%;
}

.date-time-input:hover,
.date-time-input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.multi-number-row label {
  width: 120px;
  text-align: right;
}

.date-time-container {
  margin: 0 auto;
  padding: 1rem;
  align-items: center;
  font-size: 1rem;
  text-align: center;
}

.date-time-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.final-form .form-field {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.success-message {
  text-align: center;
  padding: 2rem 1rem;
}

.section {
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 0.5rem;
  margin: 0.5rem 0;
  transition: 0.2s ease;
}

.section-title {
  margin: 0.25rem 0;
  text-align: center;
}

.section-action {
  width: 100% ;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.party-type-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.half-width-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.party-type-row label {
  width: 80px;
  text-align: right;
}

.input-with-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input-with-info input {
  flex: 1;
  height: 32px;
  padding: 0 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 80px;
}

.input-with-info .info-btn{
  height: 32px;
  width: 32px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.alert-message p{
  color: rgb(189, 0, 0);
  text-align: center;
  margin: 0.5rem 0rem;
}

.disabled-btn {
  opacity: 0.4;
  pointer-events: none;
}

.date-time-row label {
  display: inline-block;
  width: 100px; 
}

.buy-item-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.buy-item-top {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.buy-item-top label {
  width: 100px;
  font-weight: 500;
}

.buy-item-details {
  width: 100%;
}